
table {
    border-collapse: collapse;
}

 

tr:nth-child(even){background-color: #f2f2f2}

th {
    //background-color: #5D7B9D;
	 background-color: lightgreen;
	 color: black;
    //color: black;
}

